/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #00504b !important;
  --toolbarbutton-icon-fill: #81d5cd !important;
  --toolbar-field-color: #dde4e2 !important;
  --tab-selected-textcolor: #81d5cd !important;
  --toolbar-color: #dde4e2 !important;
  --arrowpanel-color: #dde4e2 !important;
  --arrowpanel-background: #1a2120 !important;
  --sidebar-text-color: #dde4e2 !important;
  --zen-main-browser-background: #0e1514 !important;
  --zen-main-browser-background-toolbar: #0e1514 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #0e1514 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #0e1514 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1a2120 !important;
}

#zen-workspaces-button {
  background-color: #1a2120 !important;
}

#TabsToolbar {
  background-color: #0e1514 !important;
}

.urlbar-background {
  background-color: #1a2120 !important;
}

.urlbar-input::selection {
  color: #003734 !important;
  background-color: #81d5cd !important;
}

.urlbarView-url {
  color: #bec9c7 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #81d5cd
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #9beae2 !important;
  --identity-icon-color: #9beae2 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #81d5cd !important;
  --identity-icon-color: #81d5cd !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffac !important;
  --identity-icon-color: #a5ffac !important;
}

.identity-color-yellow {
  --identity-tab-color: #fff8a5 !important;
  --identity-icon-color: #fff8a5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff472 !important;
  --identity-icon-color: #fff472 !important;
}

.identity-color-red {
  --identity-tab-color: #ffc09f !important;
  --identity-icon-color: #ffc09f !important;
}

.identity-color-pink {
  --identity-tab-color: #b8fff8 !important;
  --identity-icon-color: #b8fff8 !important;
}

.identity-color-purple {
  --identity-tab-color: #1b625b !important;
  --identity-icon-color: #1b625b !important;
}

#zen-appcontent-navbar-container {
  background-color: #0e1514 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #81d5cd !important;
  color: #81d5cd !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #81d5cd !important;
  color: #81d5cd !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #81d5cd !important;
}
