/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #344479 !important;
  --toolbarbutton-icon-fill: #b5c4ff !important;
  --toolbar-field-color: #e3e1e9 !important;
  --tab-selected-textcolor: #b5c4ff !important;
  --toolbar-color: #e3e1e9 !important;
  --arrowpanel-color: #e3e1e9 !important;
  --arrowpanel-background: #1e1f25 !important;
  --sidebar-text-color: #e3e1e9 !important;
  --zen-main-browser-background: #121318 !important;
}

.sidebar-placesTree {
  background-color: #1e1f25 !important;
}

#zen-workspaces-button {
  background-color: #1e1f25 !important;
}

#TabsToolbar {
  background-color: #121318 !important;
}

.urlbar-background {
  background-color: #1e1f25 !important;
}

.urlbar-input::selection {
  color: #1c2d61 !important;
  background-color: #b5c4ff !important;
}

.urlbarView-url {
  color: #c6c6d0 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #b5c4ff
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #c0ccff !important;
  --identity-icon-color: #c0ccff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #b5c4ff !important;
  --identity-icon-color: #b5c4ff !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb4 !important;
  --identity-icon-color: #a5ffb4 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffba5 !important;
  --identity-icon-color: #fffba5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff972 !important;
  --identity-icon-color: #fff972 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fb8 !important;
  --identity-icon-color: #ff9fb8 !important;
}

.identity-color-pink {
  --identity-tab-color: #cbd5ff !important;
  --identity-icon-color: #cbd5ff !important;
}

.identity-color-purple {
  --identity-tab-color: #374376 !important;
  --identity-icon-color: #374376 !important;
}

#zen-appcontent-navbar-container {
  background-color: #121318 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #b5c4ff !important;
  color: #b5c4ff !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #b5c4ff !important;
  color: #b5c4ff !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #b5c4ff !important;
}
